USE [master]
GO
/****** Object:  Database [AppBanQuanAoThoiTrangNam]    Script Date: 10/12/2024 17:02:48 ******/
CREATE DATABASE [AppBanQuanAoThoiTrangNam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppBanQuanAoThoiTrangNam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CAROT\MSSQL\DATA\AppBanQuanAoThoiTrangNam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppBanQuanAoThoiTrangNam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CAROT\MSSQL\DATA\AppBanQuanAoThoiTrangNam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppBanQuanAoThoiTrangNam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppBanQuanAoThoiTrangNam]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anh]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anh](
	[ID] [uniqueidentifier] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DuongDan] [varchar](100) NOT NULL,
	[IDMauSac] [uniqueidentifier] NULL,
	[IDSanPham] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Anh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDNguoiDung] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [uniqueidentifier] NOT NULL,
	[DonGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDHoaDon] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDSanPham] [uniqueidentifier] NOT NULL,
	[IDKhuyenMai] [uniqueidentifier] NULL,
	[IDMauSac] [uniqueidentifier] NOT NULL,
	[IDKichCo] [uniqueidentifier] NOT NULL,
	[Ma] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ID] [uniqueidentifier] NOT NULL,
	[BinhLuan] [nvarchar](250) NULL,
	[Sao] [int] NULL,
	[TrangThai] [int] NOT NULL,
	[NgayDanhGia] [datetime] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [uniqueidentifier] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TienShip] [int] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](max) NULL,
	[TrangThaiGiaoHang] [int] NOT NULL,
	[IDNhanVien] [uniqueidentifier] NULL,
	[IDVoucher] [uniqueidentifier] NULL,
	[LoaiHD] [int] NOT NULL,
	[MaHD] [nvarchar](max) NOT NULL,
	[TongTien] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgayNhanHang] [datetime] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCo]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KichCo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [varchar](250) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[DiemTich] [int] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[NgayApDung] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTichDiem]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTichDiem](
	[ID] [uniqueidentifier] NOT NULL,
	[Diem] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDKhachHang] [uniqueidentifier] NULL,
	[IDQuyDoiDiem] [uniqueidentifier] NOT NULL,
	[IDHoaDon] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LichSuTichDiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDLoaiSPCha] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Ma] [varchar](10) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_MauSac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](250) NOT NULL,
	[TrangThai] [int] NULL,
	[IDVaiTro] [uniqueidentifier] NOT NULL,
	[PassWord] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDoiDiem]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDoiDiem](
	[ID] [uniqueidentifier] NOT NULL,
	[TiLeTichDiem] [int] NOT NULL,
	[TiLeTieuDiem] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_QuyDoiDiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[TrangThai] [int] NOT NULL,
	[IDLoaiSP] [uniqueidentifier] NOT NULL,
	[IDChatLieu] [uniqueidentifier] NOT NULL,
	[Ma] [nvarchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/12/2024 17:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[HinhThucGiamGia] [int] NOT NULL,
	[SoTienCan] [int] NOT NULL,
	[GiaTri] [int] NOT NULL,
	[NgayApDung] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230916130906_DuAnTotNghiep', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230928163807_AddPasswordNhanVien', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230930125837_UpdateThuocTinhSanPham', N'6.0.21')
GO
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'acacc102-a13a-49e8-9302-02535acd1818', 1, N'bannerx243438169.png', NULL, N'91f4602b-f470-40ed-98aa-d401e8f6ce4d')
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'1fb68e4c-f1bb-4164-a5ff-106217b8ad41', 1, N'Xanh_Neon_1242813769.webp', N'4552f6dc-53f3-4966-a4bb-5a9328e972b8', N'6d969295-0645-4e16-87d1-846038747d99')
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'10b38061-3679-41fd-8e34-163e120af9b3', 1, N'vn-11134207-7r98o-ls483ybhznwk54_tn240111168.webp', N'2e31b635-3164-4391-8007-cdee9e3b7d1a', N'30af833f-e6ae-4827-beec-44d2b14a1b02')
GO
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'0282068c-edfd-4c76-a1b0-6f1698319eef', N'Lụa', 1)
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'0d16634e-c334-40f7-a407-982447d694d0', N'Polyme', 1)
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'7dda73f2-aae5-4659-8a86-f7f67c812dc9', N'Nhung', 1)
GO
INSERT [dbo].[ChiTietGioHang] ([ID], [SoLuong], [IDCTSP], [IDNguoiDung]) VALUES (N'748684b9-dc43-4779-8785-0d998ff3fc12', 1, N'df1fef02-c9d6-44cd-ae31-5eac2d19a8b0', N'e106c66d-f18d-4609-8a38-08e09d68e78c')
GO
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'b9ce9de5-f918-4f27-a603-001e6cd21714', 350000, 2, 1, N'f2b477ab-71f3-44f3-acbb-efe781e19cf1', N'0df91e61-60e4-448a-8fe3-38cb362d5fb4')
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'643ecac7-87f2-495a-a10b-00caa8f0100b', 56000, 2, 1, N'4ec993f8-02ef-4eb9-a795-861a491d998a', N'0df91e61-60e4-448a-8fe3-38cb362d5fb4')
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'7aeecff7-2c92-4bdd-bfce-01e17455e2d2', 56000, 2, 1, N'4ec993f8-02ef-4eb9-a795-861a491d998a', N'2dc0af1c-e5a7-46a6-9fe2-3fe4428c450d')
GO
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'f8030ab8-5391-4170-a406-1686ffd82b83', 0, 99500, CAST(N'2024-04-24T13:55:38.853' AS DateTime), 2, N'8e8b89f2-d437-42d2-90dc-678d1770e829', NULL, N'a5919aa2-b789-423a-b962-6d0f51673a44', N'65a264a7-1da7-4937-af45-0683563c98f3', N'SP3XANHXX')
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'9da0df7e-0850-4d39-85f0-17d4da0a6074', 100, 350000, CAST(N'2024-11-06T21:27:25.877' AS DateTime), 2, N'6d969295-0645-4e16-87d1-846038747d99', NULL, N'4552f6dc-53f3-4966-a4bb-5a9328e972b8', N'1cda5b09-1fa5-4e55-86b4-9ab947992faf', N'SP9XANHLA10X')
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'5bd080e7-111d-4de5-9090-1af02dd4ea29', 2, 54000, CAST(N'2024-04-24T13:59:39.750' AS DateTime), 1, N'36c65db0-0379-4302-9b80-cbe624a246bc', NULL, N'a5919aa2-b789-423a-b962-6d0f51673a44', N'3c6dbcc1-78d9-4afe-b7bd-6ca99e321119', N'SP5XANHXXX')
GO
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'b9ce9de5-f918-4f27-a603-001e6cd21714', NULL, NULL, 0, NULL)
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'643ecac7-87f2-495a-a10b-00caa8f0100b', NULL, NULL, 0, NULL)
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'7aeecff7-2c92-4bdd-bfce-01e17455e2d2', NULL, NULL, 0, NULL)
GO
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'e106c66d-f18d-4609-8a38-08e09d68e78c', CAST(N'2024-04-24T15:00:16.780' AS DateTime))
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'992b39ef-127f-4349-9582-4336b5ecebbb', CAST(N'2024-04-24T13:21:56.553' AS DateTime))
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'4c945bf7-c9cf-4e87-aac1-5b8ae7a4eff6', CAST(N'2024-12-09T11:28:47.193' AS DateTime))
GO
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'5e863e9f-8c80-4ea6-9903-01633155e470', N'X', 1)
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'65a264a7-1da7-4937-af45-0683563c98f3', N'XX', 1)
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'5c33b977-5f2f-4abf-9f88-0934fbe6bbd5', N'S', 1)
GO
INSERT [dbo].[KhachHang] ([IDKhachHang], [Ten], [Password], [GioiTinh], [NgaySinh], [Email], [DiaChi], [SDT], [DiemTich], [TrangThai]) VALUES (N'55f17322-09f6-4513-bbbe-67deb6806515', N'Lê Song Nhật Quyền', N'$2a$12$3nk5RO4JPn0.0ApdoGnGfega1BTSbSrkKebcplUnfywd5c6VHXtzm', 1, CAST(N'2004-10-04T00:00:00.000' AS DateTime), N'lesongnhatquyen.sgu.it.vn@gmail.com', N'23/2 Nhật Tảo Phường 4, Quận 10', N'0993246149', 24900, 1)
GO
INSERT [dbo].[KhuyenMai] ([ID], [Ten], [GiaTri], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai]) VALUES (N'9f167f3a-8deb-4dd1-9bbd-213b8f377e40', N'KM01', 100000, CAST(N'2024-04-24T13:28:00.000' AS DateTime), CAST(N'2024-04-27T13:28:00.000' AS DateTime), N'km 30/4', 0)
INSERT [dbo].[KhuyenMai] ([ID], [Ten], [GiaTri], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai]) VALUES (N'e416bb4b-a3df-4abb-9f49-2b2ed764ee33', N'KM02', 30, CAST(N'2024-04-24T13:29:00.000' AS DateTime), CAST(N'2024-05-01T13:29:00.000' AS DateTime), N'km 30/4', 1)
GO
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'9c4ef746-b5fb-4da7-8880-08dcfe6808ca', 11500, 3, N'55f17322-09f6-4513-bbbe-67deb6806515', N'6c81401d-2d54-43c6-b31b-d8a290a445c6', N'7ee3e777-d1c9-4aaf-88ac-0e71584d1c23')
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'841e6c5c-530a-423b-9f6e-08dd180d02f9', 13290, 3, N'4c945bf7-c9cf-4e87-aac1-5b8ae7a4eff6', N'6c81401d-2d54-43c6-b31b-d8a290a445c6', N'0c62b898-7b68-4f02-bd9a-0933fd25eb9d')
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'39936dfc-b772-47c6-8f14-17fc7df65124', 0, 1, N'55f17322-09f6-4513-bbbe-67deb6806515', N'6c81401d-2d54-43c6-b31b-d8a290a445c6', N'ecff8535-aa74-4493-8c02-330715bdef2b')
GO
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'fcf6ab02-0a69-44e3-696f-08dc62a55ede', N'Áo nam', 1, NULL)
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'552c8672-00c2-481e-6970-08dc62a55ede', N'Áo khoác', 1, N'fcf6ab02-0a69-44e3-696f-08dc62a55ede')
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'8c0710d8-aca2-42f6-5692-08dc6427b0c9', N'Áo sơ mi', 1, NULL)
GO
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'5984fce1-b2f4-4b43-a2f0-30cb3ebefaec', N'Tím', N'#480cd4', 1)
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'4552f6dc-53f3-4966-a4bb-5a9328e972b8', N'Xanh la', N'#8d9b27', 1)
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'a5919aa2-b789-423a-b962-6d0f51673a44', N'Xanh', N'#4723fb', 1)
GO
INSERT [dbo].[NhanVien] ([ID], [Ten], [Email], [SDT], [DiaChi], [TrangThai], [IDVaiTro], [PassWord]) VALUES (N'4127568f-30d8-447f-83b6-45bc740051ca', N'nhanvien', N'nhanvien@gmail.com', N'0987654322', N'hcm vn', 1, N'952c1a5d-74ff-4daf-ba88-135c5440809c', N'$2a$12$SlgdCiwksA7wDaXSS/5s3OwhK0dasBIpGXG7nPeUrlQBAHhv8csqG')
INSERT [dbo].[NhanVien] ([ID], [Ten], [Email], [SDT], [DiaChi], [TrangThai], [IDVaiTro], [PassWord]) VALUES (N'2ec27ab7-5f67-4ed5-ae67-52f9c9726ebf', N'Admin', N'admin@gmail.com', N'0993246149', N'Hồ Chí Minh', 1, N'b4996b2d-a343-434b-bfe9-09f8efbb3852', N'$2a$12$SlgdCiwksA7wDaXSS/5s3OwhK0dasBIpGXG7nPeUrlQBAHhv8csqG')
GO
INSERT [dbo].[QuyDoiDiem] ([ID], [TiLeTichDiem], [TiLeTieuDiem], [TrangThai]) VALUES (N'16bd37c4-cef0-4e92-9bb5-511c43d99037', 0, 0, 0)
INSERT [dbo].[QuyDoiDiem] ([ID], [TiLeTichDiem], [TiLeTieuDiem], [TrangThai]) VALUES (N'6c81401d-2d54-43c6-b31b-d8a290a445c6', 10, 10, 2)
GO
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'adadf1c6-22d3-468a-85a9-2c95c6018d2a', N'Quần tây', N'Thân: 97% Bông, 3% Elastan/ Vải Túi: 65% Polyeste, 35% Bông', 1, N'3d2d0216-52d0-4e45-5699-08dc6427b0c9', N'0d16634e-c334-40f7-a407-982447d694d0', N'SP4')
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'30af833f-e6ae-4827-beec-44d2b14a1b02', N'Áo Thun Ngắn Tay KJYT', N'sản phẩm chất, ngầu và phong thái toàn vẹn', 1, N'581494fd-6306-4821-5698-08dc6427b0c9', N'8aeacf00-8e48-4446-bbe2-fe1623973d65', N'SP6')
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'8506c67c-ef59-47b6-a501-53ccda063ae5', N'Áo Thun Dáng Rộng Tay Lỡ', N'The Uniqlo U collection is the realization of a dedicated and skilled team of international designers based at our Paris', 1, N'581494fd-6306-4821-5698-08dc6427b0c9', N'0282068c-edfd-4c76-a1b0-6f1698319eef', N'SP2')
GO
INSERT [dbo].[VaiTro] ([ID], [Ten], [TrangThai]) VALUES (N'b4996b2d-a343-434b-bfe9-09f8efbb3852', N'Admin', 1)
INSERT [dbo].[VaiTro] ([ID], [Ten], [TrangThai]) VALUES (N'952c1a5d-74ff-4daf-ba88-135c5440809c', N'Nhân viên', 1)
GO
INSERT [dbo].[Voucher] ([ID], [Ten], [HinhThucGiamGia], [SoTienCan], [GiaTri], [NgayApDung], [NgayKetThuc], [SoLuong], [MoTa], [TrangThai]) VALUES (N'dcf1de69-a1ec-489e-90eb-559d4d17dc7e', N'VC01', 1, 50000, 20, CAST(N'2024-04-24T13:30:00.000' AS DateTime), CAST(N'2024-04-27T13:30:00.000' AS DateTime), 98, N'km 30/4', 1)
GO
/****** Object:  Index [IX_Anh_IDMauSac]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_Anh_IDMauSac] ON [dbo].[Anh]
(
	[IDMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Anh_IDSanPham]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_Anh_IDSanPham] ON [dbo].[Anh]
(
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGioHang_IDCTSP]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGioHang_IDCTSP] ON [dbo].[ChiTietGioHang]
(
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietGioHang_IDNguoiDung]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietGioHang_IDNguoiDung] ON [dbo].[ChiTietGioHang]
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_IDCTSP]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_IDCTSP] ON [dbo].[ChiTietHoaDon]
(
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_IDHoaDon]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_IDHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietSanPham_IDKichCo]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPham_IDKichCo] ON [dbo].[ChiTietSanPham]
(
	[IDKichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietSanPham_IDKhuyenMai]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPham_IDKhuyenMai] ON [dbo].[ChiTietSanPham]
(
	[IDKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietSanPham_IDMauSac]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPham_IDMauSac] ON [dbo].[ChiTietSanPham]
(
	[IDMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietSanPham_IDSanPham]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietSanPham_IDSanPham] ON [dbo].[ChiTietSanPham]
(
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_IDNhanVien]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_IDNhanVien] ON [dbo].[HoaDon]
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_IDVoucher]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_IDVoucher] ON [dbo].[HoaDon]
(
	[IDVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTichDiem_IDHoaDon]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTichDiem_IDHoaDon] ON [dbo].[LichSuTichDiem]
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTichDiem_IDKhachHang]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTichDiem_IDKhachHang] ON [dbo].[LichSuTichDiem]
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTichDiem_IDQuyDoiDiem]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTichDiem_IDQuyDoiDiem] ON [dbo].[LichSuTichDiem]
(
	[IDQuyDoiDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoaiSP_IDLoaiSPCha]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_LoaiSP_IDLoaiSPCha] ON [dbo].[LoaiSP]
(
	[IDLoaiSPCha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NhanVien_IDVaiTro]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_NhanVien_IDVaiTro] ON [dbo].[NhanVien]
(
	[IDVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_IDChatLieu]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_IDChatLieu] ON [dbo].[SanPham]
(
	[IDChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_IDLoaiSP]    Script Date: 10/12/2024 17:02:50 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_IDLoaiSP] ON [dbo].[SanPham]
(
	[IDLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anh] ADD  DEFAULT ('') FOR [DuongDan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [LoaiHD]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'') FOR [MaHD]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'') FOR [PassWord]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [IDChatLieu]
GO
ALTER TABLE [dbo].[Anh]  WITH CHECK ADD  CONSTRAINT [FK_Anh_MauSac_IDMauSac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[MauSac] ([ID])
GO
ALTER TABLE [dbo].[Anh] CHECK CONSTRAINT [FK_Anh_MauSac_IDMauSac]
GO
ALTER TABLE [dbo].[Anh]  WITH CHECK ADD  CONSTRAINT [FK_Anh_SanPham_IDSanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[Anh] CHECK CONSTRAINT [FK_Anh_SanPham_IDSanPham]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_GioHang_IDNguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[GioHang] ([IDKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_GioHang_IDNguoiDung]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DanhGia_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[DanhGia] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_DanhGia_ID]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon_IDHoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon_IDHoaDon]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_KichCo_IDKichCo] FOREIGN KEY([IDKichCo])
REFERENCES [dbo].[KichCo] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_KichCo_IDKichCo]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_KhuyenMai_IDKhuyenMai] FOREIGN KEY([IDKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([ID])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_KhuyenMai_IDKhuyenMai]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_MauSac_IDMauSac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[MauSac] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_MauSac_IDMauSac]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_SanPham_IDSanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_SanPham_IDSanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien_IDNhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Voucher_IDVoucher] FOREIGN KEY([IDVoucher])
REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Voucher_IDVoucher]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_GioHang_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[GioHang] ([IDKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_GioHang_IDKhachHang]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_HoaDon_IDHoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_HoaDon_IDHoaDon]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_KhachHang_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_KhachHang_IDKhachHang]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_QuyDoiDiem_IDQuyDoiDiem] FOREIGN KEY([IDQuyDoiDiem])
REFERENCES [dbo].[QuyDoiDiem] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_QuyDoiDiem_IDQuyDoiDiem]
GO
ALTER TABLE [dbo].[LoaiSP]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSP_LoaiSP_IDLoaiSPCha] FOREIGN KEY([IDLoaiSPCha])
REFERENCES [dbo].[LoaiSP] ([ID])
GO
ALTER TABLE [dbo].[LoaiSP] CHECK CONSTRAINT [FK_LoaiSP_LoaiSP_IDLoaiSPCha]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro_IDVaiTro] FOREIGN KEY([IDVaiTro])
REFERENCES [dbo].[VaiTro] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_VaiTro_IDVaiTro]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ChatLieu_IDChatLieu] FOREIGN KEY([IDChatLieu])
REFERENCES [dbo].[ChatLieu] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ChatLieu_IDChatLieu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP_IDLoaiSP] FOREIGN KEY([IDLoaiSP])
REFERENCES [dbo].[LoaiSP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP_IDLoaiSP]
GO
USE [master]
GO
